<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SadIO</title>
</head>

<body>
    <h1>SadIO</h1>
    <form method="post">
        <input type="text" name="username-text-input" id="username-text-input" placeholder="username"/>
        <input type="password" name="password-password-input" placeholder="password" />
        <input type="submit" value="Login" name="login-submit-input" />
        <input type="submit" value="Register" name="register-submit-input" />
        {% csrf_token %}
    </form>
</body>

</html>