<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <center>
        <form method="post">
            <input type="submit" value="Logout" name="logout-button" />
            </br>
            {% csrf_token %}
        </form>
        <h1>{{ logined_user }}'s Home</h1>
        <div class="container">
            <div class="creating library">
                <h3>Create Library</h3>
                <form method="post">
                    <input type="text" name="library-name-text-input" placeholder="Enter library name">
                    </br>
                    </br>
                    <input type="radio" name="library-type" value="generic" checked="checked">Generic</input>
                    <input type="radio" name="library-type" value="document">Document</input>
                    <input type="radio" name="library-type" value="music">Music</input>
                    <input type="radio" name="library-type" value="video">Video</input>
                    <input type="radio" name="library-type" value="picture">Pictures</input>
                    <br>
                    <br>
                    <input type="text" name="library-fields-text-input" placeholder="Comma seperated list of fields">
                    <br>
                    <br>
                    <input type="submit" name="create-library-submit-input" value="Create">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </center>
    <hr>
    <div class="libraries list">
        <h4>Libraries</h4>
        <ul>
            {% for library in libraries %}
            <li>
                {{ library.type }}::<a href="/library/{{ library.name }}">{{ library.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>