<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ library.name }} Library</title>
</head>

<body>
    <center>
        <form method="post">
            <input type="submit" value="Back to Home" name="library-back" />
            </br>
            {% csrf_token %}
        </form>
        <h1>{{ library.type }}::{{ library.name }}</h1>
        <div class="container">
            <div class="uploading files">
                <h3>Upload Files</h3>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="file-input" id="file-input">
                    <input type="submit" name="upload-file-submit-input" value="Upload">
                    <br>
                    <br>
                    {% for k, v in library.fields.items %}
                        {% for f in v %}
                        <input type="text" name="field_{{ f }}" placeholder="{{ f }}">
                        <br>
                        {% endfor %}
                    {% endfor %}
                    {% csrf_token %}
                </form>
                <p style="color: red;">
                    {{ upload_message }}
                </p>
            </div>
        </div>
    </center>
    <hr>
    <div class="library content">
        <h4>Files</h4>
        <ul>
            {% for f in files %}
            <li>
                <a href="{{ f.url }}">{{ f.object.object_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>