<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
    />

    <title>Home</title>
</head>

<body>
    <center>
        <div class="container-fluid">
            <div class="jumbotron" style="margin-top: 20px">
                <form method="post">
                    <input class="btn btn-secondary" type="submit" value="Logout" name="logout-button" />
                    </br>
                    {% csrf_token %}
                </form>
                <br>
                <h1 class="font-weight-bold fs-1 text-danger">{{ logined_user }}'s Home</h1>
                <br>
                <div class="container">
                    <div class="creating library">
                        <h3>Create Library</h3>
                        <form method="post">
                            <input type="text" name="library-name-text-input" placeholder="Enter library name">
                            </br>
                            </br>
                            <input type="radio" name="library-type" value="generic" checked="checked">Generic</input>
                            <input type="radio" name="library-type" value="document">Document</input>
                            <input type="radio" name="library-type" value="music">Music</input>
                            <input type="radio" name="library-type" value="video">Video</input>
                            <input type="radio" name="library-type" value="picture">Pictures</input>
                            <br>
                            <br>
                            <input type="text" name="library-fields-text-input" placeholder="Comma seperated list of fields">
                            <br>
                            <br>
                            <input class="btn btn-danger" type="submit" name="create-library-submit-input" value="Create">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            <hr>
            <br>
            <div class="libraries list" style="text-align: left;">
                <h4>Libraries</h4>
                <ul>
                    {% for library in libraries %}
                    <li>
                        {{ library.type }}::<a href="/library/{{ library.name }}">{{ library.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </center>
</body>

</html>