<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <center>
        <form method="post">
            <input type="submit" value="Logout" name="logout-button" />
            </br>
            {% csrf_token %}
        </form>
        <h1>{{ logined_user }}'s Home</h1>
        <div class="container">
            <div class="creating library">
                <h3>Create Library</h3>
                <form method="post">
                    <input type="text" name="library-name-text-input" placeholder="Enter library name">
                    </br>
                    </br>
                    <!-- <h4>Library Type:</h4>
                    <input type="radio" value="Audio">Audio
                    <input type="radio" value="Video">Video
                    <input type="radio" value="Book">Book
                    <input type="radio" value="Image">Image
                    <input type="radio" value="Other">Other...</br>
                    <h4>Related Fields:</h4>
                    <input type="text" id="fields-input" placeholder="Enter fields"> (comma-seperated)</br>
                    </br> -->
                    <input type="submit" name="create-library-submit-input" value="Create">
                    {% csrf_token %}
                </form>
            </div>
            <div class="libraries list">
                <h4>Libraries</h4>
                <ul>
                    {% for library in libraries %}
                    <li>
                        <a href="/library/{{ library.name }}">{{ library.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </center>
</body>

</html>